.search {
  margin-bottom: 60px;
  // &-write {
  //   background: $bgc-gradient;
  //   border: 1px solid #ffc000;
  //   padding: 5px 5px;
  //   width: 100%;
  //   height: 80px;
  //   border-radius: 8px;
  // }

  &-input {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    background: $bgc-gradient;
    padding: 0 45px;
    display: flex;
    align-items: center;
    input {
      font-family: $fonts;
      padding: 0 15px;
      outline: none;
      background: $bgc-gradient;
      border-bottom: 1px solid #fff;
      line-height: normal;
      width: 100%;
      height: 40px;
      color: #fff;
      border: none;
    }

    input::placeholder {
      color: #fff;
    }

    &-fast {
      border-bottom: 2px solid #fff;
    }

    &-icon {
      padding-top: 10px;
      color: #fff;
      width: 18px;
      height: 15px;
    }
  }
  &-underlined {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid #fff;
  }
}
